{% extends "base.html" %}

{% block container %}
<div class="jumbotron page-header">
  <h1>Django E-Commerce</h1>
  <p>A categoria de Moda e acessórios está em 1º lugar em volume de produtos vendidos no comércio eletrônico.
	Segundo o relatório do E-bit, o varejo da moda movimentou 16 bilhões de reais no primeiro semestre de 2014,
	sendo 26% a mais que no mesmo período do ano anterior.
	Com o objetivo de facilitar o acesso a informação, 
	o Sebrae no MS disponibiliza para empresários e empreendedores o infográfico 
	"Tendências para E-commerce de Moda".</p>
  <p><a class="btn btn-primary">Saiba mais</a></p>
</div>
{% endblock %}
